/*AREA DO CONTEUDO GERAL*/
.acordeon{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 1rem 0;
    border: 1px solid #6e7474;
    border-radius: 1rem;
    transition: 0.25s;
}

/*após clicar ou passar o mouse nas barras*/
.acordeon:hover{
    background-color: #eb9a02;
    border: color(#fff);
}

/*Estilização e formato dos botoes de conteudo*/
.acordeon .trigger{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-size: 1.5rem;
    font-weight: 700;
    padding: 1rem 2rem;
    background-color: transparent;
    color: #fff;
    border: none;
}
.acordeon .trigger h3{
    margin: 0;
    font-size: 1.5rem; 
}

.acordeon .trigger:hover{
    cursor: pointer;
}

/*icone de seta antes de abrir*/
.acordeon .trigger::after{
    content: "";
    display: inline-block;
    width: 2rem;
    height: 2rem;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url('../img/icons/arrowtop.svg');
    transition: .25s;
}
/*icone de seta após o acordeon virar "open"*/
.acordeon.open .trigger::after{
    transform: rotate(180deg);
}

/*Espaçamento dos botões em barra*/
.acordeon .content {
    overflow: hidden;
    height: 0;
    opacity: 0;
    transition: .5s  opacity ease-in-out;
}
/*espaçamento do botão barra após ser "open" */
.acordeon.open .content{
    display: inline-block;
    padding: 0 1rem 1rem 2rem;
    height: auto;
    opacity: 1;
}