* {
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
}

/* body da tela*/
body {
    background-color: #000;
    color: #FFF;
}

/* Fontes Específicas (Lato) */
.lato-light {
    font-family: "Lato", sans-serif;
    font-weight: 300;
    font-style: normal;
}
  
.lato-regular {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: normal;
}
  
.lato-bold {
    font-family: "Lato", sans-serif;
    font-weight: 700;
    font-style: normal;
}

/* Estilização da borda em volta do body */
.main {
    margin: .5rem;
    padding: .5rem;
    border: 1px solid #6e7474;
    border-radius: 1rem;
}

/* ---------ESTILIZAÇÃO DO BACKGROUND BOTTOM E TOP----------*/
/*Em cima*/
.main::before{
    content: '';
    background-image: url('/assets/img/background-topbot.svg');
    background-repeat: no-repeat;
    background-size: contain;
    display: inline-block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vw;
    z-index: -1;

}
/*Em baixo*/
.main::after{
    content: '';
    background-image: url('/assets/img/background-topbot.svg');
    background-repeat: no-repeat;
    background-size: contain;
    display: inline-block;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100vw;
    height: 100vw;
    z-index: -1;
    transform: rotate(180deg);
}

/*Responsividade para desktop*/
@media only screen and (min-width: 768px) {
    .main{
        max-width: 1024px;
        margin: 1rem auto;
    }
}